#box-1 {
  height: 1vh;
  width: 100%;
  background-image: url(../../assets/img/fundopreto.png);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-2 {
  height: 10vh;
  width: 100%;
  background-image: url(../../assets/img/i1.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-3 {
  height: 10vh;
  width: 100%;
  background-image: url(../../assets/img/app.png);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

h1 {
  font-family: arial black;
  font-size: 50px;
  color: white;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

div {
}

#box-4 {
  height: 10vh;
  width: 100%;
  background-image: url(../../assets/img/fundorosa.png);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-5 {
  height: 50vh;
  width: 100%;
  background-image: url(../../assets/img/bg.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-6 {
  height: 10vh;
  width: 100%;
  background-image: url(../../assets/img/backgroundjovens.png);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-7 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/africa.png);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-8 {
  height: 10vh;
  width: 100%;
  background-image: url(../../assets/img/app.png);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-9 {
  height: 10vh;
  width: 100%;
  background-image: url(../../assets/img/red.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

